<% if (success && success.length) { %>
<div class="container m-t-30">
    <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <h4 class="color-green"><%= success %></h4>
        </div>
    </div>        
</div>    
<% }; %> 
<% if (error && error.length) { %>
<div class="container m-t-30">
    <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <h4 class="color-red"><%= error %></h4>
        </div>
    </div>        
</div>    
<% }; %> 
            

