<div class="static-slider-head" style="background-image:url(/images/cooking-background2.png)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-lg-8 col-md-6 align-self-center text-center" data-aos="fade-up" data-aos-duration="1200">
                <h1 class="title">Cookshare</h1>
                <h4 class="subtitle font-light">Buy and sell local dishes</h4> 
                <a href="/posts/new" class="btn btn-outline-light m-r-20 btn-md m-t-30 font-14">Sell a dish</a>
                <a href="/posts" class="btn btn-md m-t-30 btn-danger-gradiant font-14">Buy a dish</a>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>