<% layout('layouts/boilerplate') -%>
<div class="container">
    <div class="row">
        <div class="spacer">
            <div class="col-lg-12">
                <h2 class="title">You successfully bought <%= post.title %> for <%= post.price %></h2>
            </div>
        </div>
    </div>
</div>