<% layout('layouts/boilerplate') -%>

<div class="container">
    <div class="spacer">
        <div class="row m-0">
            <div class="col-lg-12">
                <div class="contact-box p-r-40">
                    <h4 class="title">New Posts</h4>
                    <form data-aos="fade-left" data-aos-duration="1200" action="/posts" name="" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group m-t-15">
                                    <label for="title">Food name:</label>
                                    <input type="text" name="post[title]" placeholder="Title" id="title" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group m-t-15">
                                    <label for="price">Price:</label>
                                    <input type="number" name="post[price]" step=".01" placeholder="Price" id="price" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group m-t-15">
                                    <label for="location">Location:</label>
                                    <input type="text" name="post[location]" placeholder="Location" id="location" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="description">Food description:</small></label>
                                <textarea name="post[description]" placeholder="Description" id="description" class="form-control"></textarea>
                            </div>
                            <div class="col-lg-8">
                                <label for="images">Food images<small> (max 4):</small></label>
                                <input type="file" accept="images/*" name="images" id="images" multiple />
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-danger-gradiant m-t-20 btn-arrow"><span> SUBMIT <i class="ti-arrow-right"></i></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>